* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1A1D23;
  font-family: Inter;
  // max-width: 1120px;
  // margin: 5rem auto 0;
  // padding: 0 2rem;
}

a {
  text-decoration: none;
}


:root {
    --body: #D7D7D7;

    --gray-100: #e1e1e6;
    --gray-300: #a8a8b3;
    --gray-850: #1f2729;
    --gray-900: #121214;

    --cyan-500: #61dafb;
    --yellow-500: #eba417;
}
